<!DOCTYPE html>
<html>
  <head>
    <title>CROWDSOURCED LIBRARY homepage</title>
      <style>
          .wrapper{
             width:1000px;
              min-height: 500px;
              margin:0px auto;
              padding: 20px;
            background-color: rgba(255,255,255,0.8);

          }
         #body {
              margin:0;
              padding:0;
              background-image:  url("http://farm6.static.flickr.com/5051/5496507286_0dfd267fc0.jpg");
                overflow: auto;
             text-decoration: none;

          }


      </style>
  </head>
 <body id="body">
    <% include templates/header.ejs %>
    <div class="wrapper">
        <div id="wrappertext">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <br>
        <button type="button" onclick="location.href='/share';" class="btn btn-success"> Share a book!</button>
        <br>
        <br>

        <div class="list-group">
            <a href="#" class="list-group-item disabled">
                <h3>List of available books</h3>
            </a>
            <a href="/book" class="list-group-item">The Fault In Our Stars</a>
            <a href="/book" class="list-group-item">Divergent</a>
            <a href="/book" class="list-group-item">Insurgent</a>

        </div>
            </div>
    </div>

  </body>
</html>
